
// First color scheme
$white: #fff;
$platinum: #E6E7E7;
$lightgray: #D1D1D1;

//Second color scheme
$fuzzywuzzy: #E94F37;
$ruddypink: #D76C69;
$spanishpink: #F7BFB6;

//Third color scheme
$earieblack: #121619;
$raisinblack: #222323;
$nickel: #6c6e70;
