
.mi__navigation {
    background-color: $earieblack !important;


    }

.mi__logo {
    width: 100px;
    height: auto;
}

.nav__button a {
    color: $white !important;

    &:hover {
        color: $spanishpink !important;

    }
}
